# KHUDA 9기 ML세션
2026.02.19 (목)

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, DBSCAN
from sklearn.mixture import GaussianMixture
from sklearn.metrics import silhouette_score

In [2]:
# dataset repository path
url = "https://raw.githubusercontent.com/gaeng02/KHUDA-9th-ML/main/week5/dataset.csv"

In [3]:
df = pd.read_csv(url)
df.head()

   id  income_k  spend_score    age  visits_m
0   1     36.83        30.32  29.22      3.13
1   2     28.76        24.21  24.88      4.38
2   3     39.50        21.61  22.36      3.88
3   4     40.64        24.36  28.43      6.51
4   5     23.29        11.50  25.72      5.89

In [4]:
### answer init
answer = [0] * 5

## Task 0. 초기 설정
다음 설정에 맞게 데이터셋을 준비하세요. <br>
별도의 정답은 없지만, 완료되지 않은 경우 Task 수행 불가

- feature: `income_k, spend_score, age, visits_m`
- scaling: `StandardScaler()`

In [5]:
## Input Box
columns = ['income_k', 'spend_score', 'age', 'visits_m']
df = df[columns]
scaler = StandardScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=['income_k', 'spend_score', 'age', 'visits_m'])

In [6]:
df

     income_k  spend_score       age  visits_m
0   -1.019491    -0.836199 -0.514639 -1.304319
1   -1.352842    -1.073407 -0.936793 -0.844449
2   -0.909200    -1.174346 -1.181914 -1.028397
3   -0.862110    -1.067583 -0.591483 -0.060829
4   -1.578794    -1.566845 -0.855086 -0.288925
..        ...          ...       ...       ...
315 -1.023622    -0.455347  0.374412  2.643209
316 -0.087595    -0.755836  0.059256  0.737506
317 -1.157458     1.669427  0.674977 -2.430082
318 -1.337145     0.226382  1.266381 -2.242455
319  1.810069     1.116590  0.729449  1.300387

[320 rows x 4 columns]

## Task 1
Kmeans 모델에서 Silhouette을 이용하여 best k를 찾으세요. <br>
k의 범위는 2이상 8이하로, 가장 Silhouette Score가 큰 k를 `answer[1]`에 저장하세요. <br>
(만약, Silhouette score가 동일하다면, 작은 k를 선택) <br><br>

이때, `random_state = 219, n_init = 10`로 설정하세요.

In [7]:
from sklearn.metrics.cluster import silhouette_samples
## Input Box

best_k = None
best_score = 0.0
for n_cluster in [8,7,6,5,4,3,2]:
  kmeans = KMeans(n_clusters=n_cluster, random_state=219, n_init=10).fit(df)
  df['cluster'] = kmeans.labels_

  score_samples = silhouette_samples(df[columns], df['cluster'])
  df['silhouette_coeff'] = score_samples

  average_score = silhouette_score(df[columns], df['cluster'])
  if best_score <= average_score:
    best_score = average_score
    best_k = n_cluster





answer[1] = best_k
print(answer[1])

2

In [8]:
df

     income_k  spend_score       age  visits_m  cluster  silhouette_coeff
0   -1.019491    -0.836199 -0.514639 -1.304319        0          0.702776
1   -1.352842    -1.073407 -0.936793 -0.844449        0          0.787440
2   -0.909200    -1.174346 -1.181914 -1.028397        0          0.793070
3   -0.862110    -1.067583 -0.591483 -0.060829        0          0.570471
4   -1.578794    -1.566845 -0.855086 -0.288925        0          0.677370
..        ...          ...       ...       ...      ...               ...
315 -1.023622    -0.455347  0.374412  2.643209        1          0.171358
316 -0.087595    -0.755836  0.059256  0.737506        1          0.089968
317 -1.157458     1.669427  0.674977 -2.430082        1         -0.054468
318 -1.337145     0.226382  1.266381 -2.242455        1         -0.171268
319  1.810069     1.116590  0.729449  1.300387        1          0.494240

[320 rows x 6 columns]

## Task 2
Task 1에서 구한 k 값으로 Kmeans를 학습하세요. <br>
클러스터 중 `spend_score` 평균이 가장 큰 클러스터의 sample 수를 `answer[2]`에 저장하세요. <br><br>

이때, `random_state = 219, n_init = 10`로 설정하세요.
<br><br>
[Hint] cluster별로 label을 추가해준 df_copy를 만들고 `groupby` 사용하기

In [9]:
## Input Box

count = 0





answer[2] = count
print(answer[2])

0

## Task 3
Task 2에서 학습한 Kmeans에 대해 `cluster_centers_`를 이용해, 서로 다른 두 중심 사이의 유클리드 거리 중 최대값을 구하세요. <br>
이때 최대 거리를 `answer[3]`에 저장하세요.

In [10]:
## Input Box

max_distance = 0.0
centers = kmeans.cluster_centers_





answer[3] = max_distance
print(answer[3])

0.0

## Task 4
DBSCAN으로 군집을 만들고, 노이즈(클러스터에 속하지 못함)의 수를 구하세요. <br>
이때, 노이즈의 수를 `answer[4]`에 저장하세요.
<br><br>
이때, `eps = 0.5, min_samples = 5`로 설정하세요.

In [11]:
## Input Box

count = 0





answer[4] = count
print(answer[4])

0

# 정답 확인!

In [12]:
print("=== 작성하신 정답 ===")
for i in range (1, 5) : print("Task " + str(i) + " :: " + str(answer[i]))

=== 작성하신 정답 ===
Task 1 :: 2
Task 2 :: 0
Task 3 :: 0.0
Task 4 :: 0

In [13]:
### 정답 채점 코드
import hashlib

ANSWER_URL = "https://raw.githubusercontent.com/gaeng02/KHUDA-9th-ML/main/week5/answer.csv"

def md5 (s) : return hashlib.md5(s.encode("utf-8")).hexdigest()

ans_df = pd.read_csv(ANSWER_URL)
gt = {int(r["task"]): str(r["answer"]).strip().lower()
      for _, r in ans_df.iterrows()}

wrong = []

for i in range(1, 5) :
    user_answer = "" if answer[i] is None else md5(str(answer[i]).strip().lower())
    if (user_answer != gt.get(i, "")) : wrong.append(i)

print("탈출!" if not wrong else f"틀린번호 : {wrong}")

틀린번호 : [1, 2, 3, 4]